@{
    ViewData["Title"] = "User Index Page";
}
@model List<User>

<div class="text-center">
    <h1 class="display-4">Lochess</h1>
    @{
        foreach (User user in Model)
        {
            <h5> @user.FirstName - @user.LastName - @user.Email - @user.Password</h5>
        }
    }
    <a class="btn btn-primary my-2" asp-controller="User" asp-action="Create">Create New User</a>
</div>
