@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}
<div class="row w-100" style="position: fixed; top: 40%;">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-2 col-sm-5 mx-auto">
            <button class="btn btn-primary btn-lg mx-auto w-100" id="playButton" data-bs-toggle="modal" data-bs-target="#playModal">Play</button>
        </div>
    }
    else
    {
        <div class="col-md-2 col-sm-5 mx-auto d-flex justify-content-center">
            <a class="btn btn-primary btn-lg w-100" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
        <div class="w-100"></div>
        <div class="col-md-2 col-sm-5 mx-auto my-3 d-flex justify-content-center">
            <a class="btn btn-primary btn-lg w-100" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
    }
    </div>
</div>

<!-- SECTION: Modals-->
<!-- PlayModal -->
<div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="playModalLabel">Play</h5>
            </div>
            <form asp-controller="Game" asp-action="Play" method="post">
                <div class="modal-body">
                    <div class="form-group py-2">
                        <h6 class="mx-auto"> Who do you want to play? </h6>
                        @Html.DropDownList("opponentUserName", new SelectList(ViewBag.UserNames), new { @class = "form-select", @id = "opponentUserName"})
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary position-left" data-bs-dismiss="modal">Discard</button>
                    <input type="submit" id="submitInvite" class="btn btn-primary" value="Send Invite" data-bs-dismiss="modal" />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <!-- signalr script -->
    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script>
        "use strict";
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        // Start the connection - runs on page load
        connection.start();

        // Navigate to Game/Play upon receiving an invite
        connection.on("ReceiveInvite", function () {
            window.location.href = '@(Url.Action("Play", "Game"))';
        });
    </script>
}



